* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: center; 
    margin: 10px auto; 
    width: 500px; 
    height: 400px; 

}

.screen {
    background-color: purple; 
    width: 355px; 
    padding: 50px; 
    margin: 10px; 
    border-radius: 25px; 
}

.center {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.button {
    padding: 50px; 
    border-style: solid;
    border-color:pink; 
    max-width: 20%; 
    margin: 10px; 
    border-radius: 50px; 
}